


<div class="flex justify-center items-center  ">
    <div class="max-w-[1500px] flex justify-evenly items-center flex-wrap-reverse">
      <div class="lg:w-[40%] mt-12 lg:mt-0"  data-aos="fade-right"
      data-aos-duration="2000">
        <img src="media/Images/tech.jpg" alt="123"  class=" rounded-tl-[3rem] rounded-br-[3rem] hover:scale-105 duration-500 shadow-2xl shadow-white overflow-hidden border p-1"/>
      </div>
      <div data-aos="fade-down" data-aos-duration="2000" class="lg:w-[50%]">
        <div class="text-center mt-10 md:mt-0">
          <h1 class="text-4xl font-bold tracking-tight sm:text-6xl">
            We're a Tech Company & Team
          </h1>
          <p class="mt-6 text-lg leading-8">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <button
              class="rounded-md bg-black px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >
              Get started
            </button>
            <button class="text-sm font-semibold leading-6">
              Learn more <span aria-hidden="true">→</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>