<div>
  <div class="flex justify-center items-center">
    <h3 class="text-6xl mb-12 border-b-4 pb-2 px-2 w-fit">It services</h3>
  </div>
  <div class="flex justify-center items-center">
    <div class="w-full max-w-[1500px] text-start">
      <div class="flex justify-evenly p-2 items-center pb-12 flex-wrap-reverse">
        <div class="my-4 lg:w-[50%] text-start">
          <h1 class="text-xl md:text-3xl my-2 border-b-2 px-2 pb-2 border-black ">RESPONSIVE WEB DESIGNING</h1>

          <p>
            Responsive web design is an approach which demonstrates that the web
            design and web development should respond to the user’s environment
            and actions supported by the display size, orientation, and
            platform.
          </p>
          <p class="my-2">
            Mobile Internet has taken the world long way in the lead and largely
            the Indian marketplace. You all will be amazed to be acquainted with
            the fact that there are 2.5 billion internet users, globally, and
            around 60% of them use cellular phones as the main mode for online
            accessibility. This means that 6 out of 10 grown-up people use the
            mobile gadget to access the web. The situation thus discloses a big
            opportunity for online marketers. If you crave to accomplish your
            centre of attention on the audience at anytime and anywhere, then
            there is no preferable option than to master your existing web page
            or to obtain an exclusively mobile friendly responsive web page
            design. In either of the case, UNIQ Technologies is a single name
            that you can have faith on for the most groundbreaking and
            remarkable Responsive Website Design Services in TamilNadu, India.
          </p>
          <div class="text-start">
            <p class="py-3 text-lg md:text-2xl font-medium text-black  ">
              Advantages of Responsive Design
            </p>
            <ul class="p-3 ">
              <li>Super Flexible</li>
              <li>Excellent User Experience</li>    
              <li>Cost Effective</li>
              <li>It is Recommended By Google</li>
              <li>Very Easy to manage</li>
            </ul>
          </div>
        </div>

        <div><img src="/media/Images/webdesign.jpg" alt="" class=" rounded-tl-[3rem] rounded-br-[3rem] hover:scale-105 duration-500 shadow-2xl shadow-white overflow-hidden border p-1"/></div>
      </div>
      <div class="flex justify-evenly p-2 items-center pb-12 flex-wrap">
        <div class="lg:w-[40%]"><img src="/media/Images/seo.jpg" alt="" class=" rounded-tl-[3rem] rounded-br-[3rem] hover:scale-105 duration-500 shadow-2xl shadow-white overflow-hidden border p-1"/></div>
      <div class="my-4 lg:w-[50%] text-start">
        <h1 class="text-3xl  my-2 border-b-2 px-2 pb-2 border-black "> SEO Services</h1>
        <p>
          It is a fastest growing SEO Company in India, Providing SEO Services
          across the globe. SEO Services adopts an professional approach while
          actualizing and executing a SEO process that will greatly impact the
          outcome of by successful achievement through our demonstrated and
          experimentally figured methodologies that is rehearsed and equipped by
          our team of SEO consultants, analyst and experts who, with their
          familiarity and industry specific knowledge, give you the ideal plan
          that will boost the search engine rankings. Search Engine Optimization
          is more technical and needs a wonderful planning for sorting out the
          right keywords and content rewriting for the website so that it can
          best describe the type of website to the search engine. Web crawlers
          are the best approach to get your site seen by potential clients. Site
          improvement or SEO is a science that calculates web crawler
          calculations and human guest conduct to get your site rankings on real
          web crawlers like Google, Bing, and Yahoo. SEO is likewise the
          speciality of utilizing Meta Tags and other Parameters which are
          put-forth by Search Engines.
        </p>
        <p class="my-2">
          Are you looking for SEO packages in Tamil Nadu that are convenient to
          your online promotion plan? Join hands with us and let your business
          grow ,charges offered for SEO packages are quite minimal when compared
          to the return on investment. We understand that every business is
          different; hence our packages are quite flexible.
        </p>
        <p class="my-2">
          Clients can discuss and obtain the best SEO packages that suit their
          business model and budget.
        </p>
        <p class="my-2">
          We offer ideal SEO packages for new start up businesses with budget
          constraints. Clients can also upgrade or downgrade the services in the
          package later.
        </p>
        <div class="text-start">
          <p class="py-3 text-2xl font-medium text-black ">
            Advantages of SEO
          </p>
          <ul class="p-3 ">
            <li>Increased Traffic</li>
            <li>ROI</li>
            <li>Cost effectiveness</li>
            <li>Increased site usability</li>
            <li>Brand Awareness</li>
          </ul>
        </div>
      </div>
      </div>
      <div class="flex justify-evenly p-2 items-center pb-12 flex-wrap-reverse">
      <div class="my-4 lg:w-[50%] text-start">
        <h1 class="text-3xl  my-2 border-b-2 px-2 pb-2 border-black "> Mobile App Development</h1>
        <p>
          The Google OS, which powers 88% of all smartphone in the global
          market, is undoubtedly dominating the ‘World of Operating Systems’.
        </p>
        <p class="my-2">
          Android Application Development is taking an edge over other mobile
          operating systems around the globe. The open eco-system of Android has
          worked in favour of Google, running most of the major smartphones in
          the world today and has become the most favoured platform.
        </p>
        <p class="my-2">
          Having an Android application developed gives your customers and
          employee easy access to your business and in return gives you the huge
          profit.
        </p>
        <p class="my-2">
          Android not only strengthens your brand awareness but also helps you
          to connect with your customers who are on the move.
        </p>
        <div class="text-start">
          <p class="py-3 text-2xl font-medium text-black ">
            Why are Mobile Apps Important?
          </p>
          <ul class="p-3">
            <li>
              A well-developed smart app is way faster than a mobile browser. In
              addition, you can ensure the important elements of your app are
              available even when offline.
            </li>
            <li>
              It’s an amazing reminder of your business. Everyone loves their
              phones and hence your app becomes part of their daily life
            </li>
            <li>
              It increases consumer engagement, ensuring long-term repeated
              customers.
            </li>
            <li>
              It helps you reduce cost with other marketing tools like SMS,
              newsletter, etc
            </li>
            <li>It is the future and you need to master it today.</li>
          </ul>
        </div>
      </div>
      <div><img src="/media/Images/app.jpg" alt="" class=" rounded-tl-[3rem] rounded-br-[3rem] hover:scale-105 duration-500 shadow-2xl shadow-white overflow-hidden border p-1"/></div>
      </div>
    </div>
  </div>
</div>
