<div class="lg:px-32 px-2 md:px-6 py-12 md:py-32 bg-secondary">
  <div class="flex justify-center items-center">
    <h3 class="text-3xl md:text-6xl md:mb-12 border-b-4 pb-2 px-2 w-fit">
      Internship Traing
    </h3>
  </div>

  <div class="flex justify-center items-center">
    <div class="w-full max-w-[1300px]">
      <div
        class="flex justify-between items-center pt-12 flex-wrap"
        data-aos="zoom-in-down"
        data-aos-duration="1000"
      >
        <div class="w-full md:w-[40%]">
          <h1 class="text-4xl my-2">About Internship</h1>
          <p class="text-black font-medium pb-6">INTERNSHIP, TRAINING</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim ut
            tellus elementum sagittis vitae et leo duis. Metus aliquam eleifend
            mi in nulla posuere sollicitudin aliquam.
          </p>
        </div>
        <div class="w-full md:w-[40%] mt-6 md:mt-0">
          <h1 class="text-4xl pb-4">Contact us</h1>
          <p class="text-black font-medium text-4xl pb-2">+91 XXXX XXXX</p>
          <p>techjr@email.com</p>
          <p>MON - SAT : 9:00 AM - 7:00 PM</p>
          <p>closed on weekends</p>
        </div>
      </div>

      <div
        class="py-12 md:py-32 flex justify-center"
        data-aos="flip-left"
        data-aos-duration="1000"
      >
        <img
          src="/media/Images/intern.jpg"
          class="lg:w-1/2 rounded-tl-[3rem] rounded-br-[3rem] hover:scale-105 duration-500 shadow-2xl shadow-white overflow-hidden border p-1"
        />
      </div>
      <div>
        <h1 class="text-4xl my-2">Benefits of Internship</h1>
        <p class="text-black font-medium pb-6">INTERNSHIP, TRAINING</p>
      </div>
      <p class="">
        Our Internship programme provides various benefits for students.
      </p>
      <div class="p-2 list-inside">
        <ul class="border divide-y">
          <li class="p-4">
            A chance to develop your knowledge and skills in a particular field
            or industry
          </li>
          <li class="p-4">
            Exploring different roles to see which one you would like to pursue
          </li>
          <li class="p-4">
            Getting insight into the way businesses work and what challenges
            they face on a daily basis
          </li>
          <li class="p-4">
            Gaining valuable work experience to set you apart from other
            candidates
          </li>
          <li class="p-4">
            Applying the concepts and strategies of academic study in a live
            work environment
          </li>
          <li class="p-4">The opportunity to create a network of contacts</li>
        </ul>
      </div>
      <p class="text-2xl pt-12 pb-8">
        Interested in our Internship Programme. Please fill out the form below
        to register.
      </p>
      {% include "./register-form.html" %}
    </div>
  </div>
</div>
