{% load static %}


<div class="flex justify-center items-center">
  <div class="p-2 w-full max-w-[1300px]">
   
    <div class="flex justify-evenly items-center pb-12 flex-wrap-reverse" >
      <div  data-aos="zoom-in-down"
      data-aos-duration="1000">
        <h2 class="text-4xl sm:text-6xl pb-2 mt-6">We are best in</h2>
        <div class="flex justify-between items-center flex-wrap">
          <ul class="p-5">
            <li class="p-2">Technical Expertise</li>
            <li class="p-2">Quality and Reliability</li>
            <li class="p-2">Scalability and Flexibility</li>
            <li class="p-2">Security and Data Privacy</li>
            <li class="p-2">Innovation and Research</li>
          </ul>
          <ul class="p-5">
            <li class="p-2">Project Management and Delivery</li>
            <li class="p-2">Collaboration and Teamwork</li>
            <li class="p-2">Social Responsibility</li>
            <li class="p-2">Continuous Learning and Improvement</li>
            <li class="p-2">Customer Focus</li>
          </ul>
        </div>
      </div>
      <div data-aos="zoom-in-up"
      data-aos-duration="1000"><img src="/media/Images/best.jpg" alt=""  class=" rounded-tl-[3rem] rounded-br-[3rem] hover:scale-105 duration-500 shadow-2xl shadow-white overflow-hidden border p-1"/></div>
    </div>

  </div>
</div>


