<div class="flex justify-center items-center">
    <div class="p-2 w-full max-w-[1300px]">
     
      <div class="flex justify-evenly items-center pb-12 flex-wrap-reverse">
        <div data-aos="fade-right"
        data-aos-duration="2000">
          <h2 class="text-4xl sm:text-6xl pb-2 mt-6 ">Why Choose Us</h2>
          <h2 class="text-2xl">We’re Your Partner in Your Success</h2>
          <ul class="p-5 ">
            <li class="p-2">Distinctive Experts That Provide Effortless Expertise</li>
            <li class="p-2">Enriched Outcomes Enabled By Experienced Professionals</li>
            <li class="p-2">Wide-Ranging Thoughts Bread Exceptional Ideas</li>
            <li class="p-2">Generating Best Results Through Open Communication</li>
            <li class="p-2">Extensive Marketing Research Generates Valuable Insights</li>
            <li class="p-2">We are Results-Driven, Oriented, We deliver results</li>
          </ul>
        </div>
        <div data-aos="zoom-out"
        data-aos-duration="2000"><img src="/media/Images/22.jpg" alt="" class=" rounded-tl-[3rem] rounded-br-[3rem] hover:scale-105 duration-500 shadow-2xl shadow-white overflow-hidden border p-1" /></div>
      </div>
  
    </div>
  </div>